Source: wildland-client
Section: python
Priority: extra
Maintainer: Frédéric Pierret <frederic@invisiblethingslab.com>
Build-Depends:
 debhelper,
 dh-python,
 python3-all,
 python3-setuptools,
 python3-sphinx,
 python3-pytest,
 python3-nacl
Standards-Version: 4.4.0.1

Package: wildland-client
Architecture: any
Depends:
 python3-alabaster,
 python3-argcomplete,
 python3-arrow,
 python3-astroid,
 python3-attr,
 python3-babel,
 python3-base58,
 python3-boto3,
 python3-botocore,
 python3-cachetools,
 python3-certifi,
 python3-cffi,
 python3-chardet,
 python3-click,
 python3-daemon,
 python3-dateutil,
 python3-dropbox,
 python3-entrypoints,
 python3-fuse,
 python3-future,
 python3-google-auth,
 python3-google-auth-httplib2,
 python3-google-auth-oauthlib,
 python3-googleapi,
 python3-httplib2,
 python3-idna,
 python3-imagesize,
 python3-iniconfig,
 python3-isort,
 python3-jinja2,
 python3-jmespath,
 python3-jsonschema,
 python3-lazy-object-proxy,
 python3-lockfile,
 python3-lxml,
 python3-markdown,
 python3-markupsafe,
 python3-mccabe,
 python3-nacl,
 python3-netaddr,
 python3-oauthlib,
 python3-packaging,
 python3-pep517,
 python3-pluggy,
 python3-ply,
 python3-protobuf,
 python3-pyasn1,
 python3-pyasn1-modules,
 python3-pycparser,
 python3-pygments,
 python3-pyparsing,
 python3-pyrsistent,
 python3-pytest,
 python3-pytest-cov,
 python3-pyxdg,
 python3-requests,
 python3-requests-oauthlib,
 python3-rsa,
 python3-s3transfer,
 python3-six,
 python3-snowballstemmer,
 python3-toml,
 python3-typed-ast,
 python3-typing-extensions,
 python3-uritemplate,
 python3-urllib3,
 python3-wrapt,
 python3-xmltodict,
 python3-yaml,
 ${python3:Depends},
 ${misc:Depends}
Description: Wildland Client
 Wildland Client
